ul {
  margin: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: inherit;
  cursor: default;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

body {
  font-family: Montserrat Alternates;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer-modal {
  position: relative;
  display: none;
  top: 50%;
  left: 50%;
  width: 463px;
  height: 245px;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  padding: 70px 43px;
}
.footer-modal-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: center;
  margin-top: 14px;
  color: rgb(0, 0, 0);
}

.footer-modal-close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  top: 15px;
  right: 15px;
}

.footer-modal-sword-svg {
  position: absolute;
  top: 70px;
  left: 43px;
}

.footer-modal-console-svg {
  position: absolute;
  top: 70px;
  right: 43px;
}

.footer-modal-puzzle-svg {
  position: absolute;
  top: 146px;
  left: 87px;
}

.footer-modal-tic-svg {
  position: absolute;
  top: 146px;
  right: 87px;
}

.game-rps {
  position: relative;
}

.game-rps::after {
  content: "";
  display: block;
  width: 536px;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
}

.game-rps-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 36px;
}

.game-rps-score-span {
  display: block;
  width: 93px;
  margin-left: 104px;
}

.game-rps-score {
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;
  text-align: left;
  position: absolute;
  width: 93px;
  top: 56px;
  left: 780px;
}

.game-rps-result {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: center;
  margin-bottom: 36px;
}

.game-rps-pc-option {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 182px;
  height: 35px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
}

.game-rps-options-list {
  width: 256px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 38px;
  margin: 0 auto;
}

.game-rps-option-btn {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 36px;
  color: rgb(255, 255, 255);
}

.game-rps-option-svg {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 182px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 187px;
}

.footer-contacts {
  width: 207px;
}

.contact-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  row-gap: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscription-input {
  width: 204px;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(215, 215, 215);
  color: rgb(126, 126, 126);
  padding: 10px;
}
.subscription-input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}
.subscription-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: rgb(126, 126, 126);
}

.subscription-button {
  width: 107px;
  height: 35px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 14.63px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.subscription-label {
  font-size: 6px;
  line-height: 7.31px;
  text-align: left;
  color: rgb(0, 0, 0);
}/*# sourceMappingURL=main.css.map */